





#iconSet {
    position: absolute;
}




.socialIcon {

            float: left;
            width: 50px;
            height: 50px;
            margin-right: 5px;
            filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    }

    .socialIcon:hover {
        opacity:1;
        filter: none;
        -webkit-filter: grayscale(0%);
    }


    .youtube {
        background: url('../img/sprite.png') no-repeat -1914px -203px;


    }

    .soundcloud {
        background: url('../img/sprite.png') no-repeat -1914px -143px;


    }

    .facebook {
        background: url('../img/sprite.png') no-repeat -1914px -83px;


    }

    .email {
        background: url('../img/sprite.png') no-repeat -1914px -23px;


    }

    .twitter {
        background: url('../img/sprite.png') no-repeat -1914px -323px;


    }

    .itunes {
        background: url('../img/sprite.png') no-repeat -1914px -263px;

    }





    .share {
        position: absolute;
        height: 100px;
        width: 50px;
        color: rgba(255, 255, 255, 0.79);
        font-size: 15px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    }

    .share ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

    .share li {
        margin-bottom: 10px;
    }

    .share a {
    color: rgba(255, 255, 255, 0.79);
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration:none;
}

    .shareFb {
    top: 334px;
    left: 702px;

    }

    .share a:hover {
        color: #2e4689;
    }

    .shareTwitter {
    top: 334px;
    left: 758px;

    }

    .shareTwitter a:hover {
        color:#2898da;
    }

    .shareEmail {
                width: 200px;
                height: 29px;
                top: 286px;
                color: rgb(196, 196, 196);
                font-size: 22px;
                left: 934px;
    }
    
    .shareEmail:hover {
        color:#659c4e;
    }
    
    .windowInc {
            position: absolute;

            border:1px solid #fff;
            width: 150px;
            height: 51px;
    }


.lefttop {
    background-position: -349px -350px !important;
}

.middletop {
    background-position: 0 0 !important;
}

.righttop {
    background-position: -1047px 0 !important;
}

.leftmiddle {
    background-position: -698px -350px !important;
}

.middlemiddle {
    background-position: -349px 0 !important;
}

.rightmiddle {
    background-position: -1396px 0 !important;
}

.leftbottom {
    background-position: -1047px -350px !important;
}

.middlebottom {
    background-position: -698px 0 !important;
}

.rightbottom {
    background-position: -2px -350px !important;
}


#socialFace {
    position: absolute;
    top: 130px;
    left: 211px;
    width: 345px;
    height: 345px;

    background: url('../img/socialFaces.png') no-repeat -349px 0;
}

.socialFace {

}

.youtubeFace {
    background-position: -1421px -9px !important;
}

.soundcloudFace {
    background-position: -715px -9px !important;
}

.facebookFace {
    background-position: -9px -9px !important;
}

.twitterFace {
    background-position: -362px -9px !important;
}

.itunesFace {
    background-position: -1068px -9px !important;
}

.contactFace {
    background-position: -1774px 0 !important;
}

